.full-message .avatar-wrapper {
  background-image: url("../img/i-f7-ios.png");
  border-radius: 100%;
  background-size: 100%;
  height: 40px;
  width: 40px;
  float: left;
}
.full-message .message-info-wrapper {
  float: left;
  line-height: 17px;
  margin-left: 9px;
}

.full-message .message-info-wrapper .name {
  font-size: 16px;
  font-weight: 500;
}

.full-message .message-info-wrapper .date {
  color: #8e8e93;
  font-size: 13px;
  font-weight: 500;
}

.full-message .message-content-wrapper {
  padding: 0 12px;
}

.full-message .message-content-wrapper > [class*="-wrapper"] {
  padding: 6px 0;
}

.full-message .message-content-wrapper > [class*="-wrapper"]:first-child {
  padding-top: 0;
}

.full-message .attachments-wrapper,
.full-message .music-wrapper,
.full-message .links-wrapper {
  display: flex;
  width: 100%;
}

.full-message .attachment-icon-wrapper,
.full-message .link-icon-wrapper,
.full-message .song-icon-wrapper {
  background-size: 100%;
  height: 36px;
  width: 36px;
  float: left;
}

.full-message .attachment-icon-wrapper {
  background-image: url("../img/document_round.svg");
}

.full-message .link-icon-wrapper {
  background-image: url("../img/arrow_up_fill.svg");
}

.full-message .song-icon-wrapper {
  background-image: url("../img/play_round_fill.svg");
}

.full-message .attachment-info-wrapper,
.full-message .link-info-wrapper,
.full-message .song-info-wrapper {
  float: left;
  line-height: 17px;
  margin-left: 9px;
}

.full-message .attacmment-date,
.full-message i.attachment-info-separator {
  color: #8e8e93;
  font-size: 3px;
}

.full-message .attachment-date,
.full-message .attachment-extension,
.full-message .attachment-size,
.full-message .link-domain,
.full-message .song-title,
.full-message .wall-post-type {
  color: #8e8e93;
  font-size: 13px;
}

.full-message .attachment-title,
.full-message .link-title,
.full-message .song-artist
.full-message .wall-post-title {
  font-size: 15px;
}

.full-message .images-wrapper,
.full-message .images-wrapper .image,
.full-message .images-wrapper .image img {
  width: 100%;
}

.full-message .images-wrapper .image {
  padding: 2px;
}

.full-message .images-wrapper .image:first-child,
.full-message .images-wrapper .image:last-child {
  padding-top: 0;
}

.full-message .message-header {
  display: flex;
  padding: 12px;
}

.full-message .page-content {
  padding-top: 50px;
}

.page.full-message {
  background-color: white;
}

.view-dialog .navbar .center {
  left: auto;
}