/*Notes:*/
/*display: flex does not work properly*/

.list-block {
  margin: 0 !important;
  padding: 0 !important;
}

/*.panel {
  margin: 0 !important;
  padding: 0 !important;
}*/
#title {
  margin: 0 6px;
}

.panel.panel-left {
  background-color: white;
}

/*.statusbar-overlay {
  background-color: rgba(51, 51, 51, 1);
}*/

/* Color of status bar when it is transparent */
/*body {
  background-color: #131313 !important;
}*/

/*******************************************************************************
 Section with settings for news cards
*******************************************************************************/
.card-fixed-height {
  height: 994px;
}

/*Remove side margins*/
.card {
  margin: 10px 0;
}

.card-header {
  display: block;
}

.news-card-item > .card-header > .info-wrapper {
  display: block;
  /*Calculate full height of container*/
  height: 50px;
}

.news-card-avatar {
  float: left;
  width: 50px;
  height: 50px;
}

.news-card-avatar > img {
  /*float: left;*/
  width: 50px;
  height: 50px;
}

.news-card-name {
  margin: 6px;
  font-size: 18px;
  font-weight: 500;
}

.news-card-date {
  margin: 6px;
  font-size: 13px;
  color: #8e8e93;
}

.news-card-social-buttons > a {
  padding: 0 0 3px 0;
}

.news-card-social-buttons > a > i {
  margin: 0 4px -3px 0;
}

.news-card-content-photos .photos-container {
  width: 100%;
  height: 100%;
}

/*For cards with only two photos*/


/*Optimal size for the card with the photo*/
/*.news-card-item-photo {
  height: 492px;
}*/

/*.news-card-item-photo .mult-photos.one-row .row-one,
.news-card-item-photo .mult-photos.one-row .row-one img {
  height: 375px;
}
*/
/*Change to negative paddings of the parent container*/
.photos-container > .container-fluid > .row-one > .photo-1 {
  padding: 0;
  padding-right: 0.5px;
}

.photos-container > .container-fluid > .row-one > .photo-2 {
  padding: 0;
  padding-left: 0.5px;
}

.row {
  display: block;/*
  margin: 0;
  padding: 0;*/
}