/*Notes:*/
/*display: flex does not work properly*/

.list-block {
  margin: 0 !important;
  padding: 0 !important;
}

#title {
  margin: 0 6px;
}

.panel.panel-left {
  background-color: white;
}

.panel.panel-left .list-block li.active {
  background: #ff3b30;
}


.panel.panel-left .list-block li.active i,
.panel.panel-left .list-block li.active .item-title {
  color: white;
}

.no-padding {
  padding: 0;
}

.view.not-active {
  visibility: hidden;
}

.view.active {
  visibility: visible;
}

/*.statusbar-overlay {
  background-color: rgba(51, 51, 51, 1);
}*/

/* Color of status bar when it is transparent */
/*body {
  background-color: #131313 !important;
}*/

/*******************************************************************************
 Section with settings for news cards
*******************************************************************************/
.card-fixed-height {
  height: 994px;
}

/*Remove side margins*/
.card {
  margin: 10px 0;
}

.news-card-item .card-header .info-wrapper {
  height: 50px;
  width: 90%;
}

.news-card-content-link,
.news-card-content-attachment {
  padding: 5px 15px;
}

.news-card-item .news-card-content-author {
  margin-left: 15px;
}

.news-card-item .news-card-content-link i {
  font-size:  34px;
  -webkit-transform: rotate(45deg);
}

.news-card-item .news-card-content-attachment i {
  font-size: 34px;
}

.news-card-item .news-card-content-author i {
  font-size: 18px;
}

.news-card-item .news-card-content-attachment .attachment-info-separator i {
  color: #8e8e93;
  font-size: 3px;
}

.news-card-item .news-card-content-link .link-info-wrapper,
.news-card-item .news-card-content-link .link-wrapper,
.news-card-item .news-card-content-attachment .attachment-wrapper,
.news-card-item .news-card-content-author .author-wrapper {
  margin: 3px;
}

.news-card-item .news-card-content-attachment .attachment-wrapper {
  padding-left: 4px;
}

.news-card-item .news-card-content-link .link-icon-wrapper,
.news-card-item .news-card-content-attachment .attachment-icon-wrapper,
.news-card-item .news-card-content-author .author-icon-wrapper {
  float: left;
  margin-right: 4px;
}

.news-card-item .news-card-content-attachment .attachment-icon-wrapper {
  margin-right: 8.891px;
}

.news-card-item .news-card-content-attachment .attachment-icon-wrapper {
  margin-top: 3px;
  margin-bottom: 3px;
}

.news-card-item .news-card-content-repost .repost-icon-wrapper i {
  font-size: 20px;
  margin-top: -4.72px;
  /*margin-top: -2.36px;*/
}

.news-card-item .news-card-content-link .link-title,
.news-card-item .news-card-content-attachment .attachment-title {
  margin: 3px 3px 0;
  font-size: 15px;
  font-weight: 400;
}

.news-card-item .news-card-content-link .link-domain,
.news-card-item .news-card-content-attachment .attachment-size,
.news-card-item .news-card-content-attachment .attachment-date {
  margin: 0 3px;
  font-size: 13px;
  color: #8e8e93;
}

.news-card-item .news-card-content-author .author {
  color: #ff3b30;
  font-size: 15px;
  font-weight: 500;
}

.news-card-avatar {
  float: left;
  width: 50px;
  height: 50px;
}

.news-card-avatar > img {
  width: 50px;
  height: 50px;
}

.news-card-name {
  margin: 6px;
  font-size: 18px;
  font-weight: 500;
}

.news-card-date {
  margin: 6px;
  font-size: 13px;
  color: #8e8e93;
}

.news-card-content-repost .card-header {
  height: 40px;
  padding: 0;
  padding-left: 15px;
}

.news-card-content-repost .card-header .news-card-name {
  font-size: 15px;
  margin: 2px;
}

.news-card-content-repost .card-header .news-card-date {
  font-size: 12px;
}

.news-card-content-repost .card-header .info-wrapper {
  width: 97%;
  height: 40px;
}

.news-card-content-repost .card-header .news-card-avatar {
  height: 40px;
}

.news-card-content-repost .card-header .news-card-avatar > img {
  width: 40px;
  height: 40px;
}

.news-card-social-buttons > a {
  padding: 0 0 3px 0;
}

.news-card-social-buttons > a > i {
  margin: 0 4px -3px 0;
}

.news-card-content-photos .photos-container {
  width: 100%;
  height: 100%;
}

/*For rows with only two photos*/


/*Optimal size for the card with the photo*/
/*.news-card-item-photo {
  height: 492px;
}*/
.photos-container > .container-fluid > .row-one > .photo-1 {
  padding: 0;
  padding-right: 0.5px;
}

.photos-container > .container-fluid > .row-one > .photo-2 {
  padding: 0;
  padding-left: 0.5px;
}

.photos-container.mult-rows .row-one {
  height: 75%;
}

.photos-container.mult-rows .row-two,
.photos-container.mult-rows .row-three {
  height: 25%;
  padding: 0;
  padding-top: 1px; 
}

.photos-container.mult-rows .photo-col {
  padding: 0 0.5px 0;
}

.photos-container.mult-rows .photo-col.first {
  padding-left: 0;
}

.photos-container.mult-rows .photo-col.last {
  padding-right: 0;
}

.row {
  display: block;
}

/*Music settings*/
.news-card-item-music .content-music .list-block ul {
  padding-left: 0;
}

.news-card-item-music .content-music .icon {
  font-size: 38px;
  font-weight: 200;
}

.news-card-item-music .content-music .artist,
.news-card-item-music .content-music .title {
  display: block;
}

/*Remove gray line-divider*/
.news-card-item-music .content-music .list-block .item-inner:after,
.news-card-item-music .content-music .list-block li li:last-child .item-inner:after,
.news-card-item-music .content-music .list-block li:last-child li .item-inner:after {
  content: none;
}

.news-card-item-music .content-music .artist {
  margin: 3px 3px 0;
  font-size: 15px;
  font-weight: 400;
}

.news-card-item-music .content-music .title {
  margin: 0 2px;
  font-size: 13px;
  color: #8e8e93;
}

.news-card-item-music .content-music .duration {
  font-size: 13px;
}
